<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I am Bruno Yzeiri, a student interest in most things. In this blog I try to explore some of the phenomena that surround me with a scientific approach. I do this both to share code, ideas and knowledge and to build knowledge myself and explore more topics.
Given enough time I hope I will be able output work in Biology, Linguistics, Physics and many other fields.

In my spare time I like to read and pratice sports (boxing and weightlifting).

Currently living in (the outskirts of) Paris while pursuing my MSc in Data Science at Ecole Polytechnique and HEC Paris.
</div>